<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name="Pololu USB AVR Programmer v2"
           Version="$(var.ProductVersion)"
           Manufacturer="Pololu"
           Language="1033"
           UpgradeCode="37fd0634-03de-469e-82d4-42ea3c93ca0a"
           Id="*">

    <Package Description="Pololu USB AVR Programmer v2 Installer"
             Manufacturer="Pololu"
             Compressed="yes"
             InstallerVersion="400"
             InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="no"
                  DowngradeErrorMessage="A newer version of this software is already installed."
                  AllowSameVersionUpgrades="no" />

    <Media Id="1" Cabinet="cabinet.cab" EmbedCab="yes" />

    <Property Id="ARPCOMMENTS">
      Software and drivers for the Pololu USB AVR Programmer v2.
    </Property>
    <Property Id="ARPCONTACT">Pololu</Property>
    <Property Id="ARPURLINFOABOUT">$(var.DocumentationUrl)</Property>
    <Property Id="ARPHELPTELEPHONE">702-262-6648</Property>

    <Icon Id="app.ico" SourceFile="$(var.SourceDir)/images/app.ico" />
    <Icon Id="pavr2gui.exe" SourceFile="$(var.BuildDir)/msi_exes/pavr2gui.exe" />
    <Property Id="ARPPRODUCTICON" Value="app.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Pololu" Name="Pololu">
          <Directory Id="INSTALLDIR" Name="USB AVR Programmer v2">
            <Directory Id="BinDir" Name="bin" FileSource="$(var.BuildDir)/msi_exes/">
              <Component Id="CliExe">
                <File Id="CliExe" Name="pavr2cmd.exe" />
              </Component>
              <Component Id="GuiExe">
                <File Id="GuiExe" Name="pavr2gui.exe" KeyPath="yes">
                  <Shortcut Id="GuiShortcut" Directory="PololuMenuFolder"
                            Name="Pololu USB AVR Programmer v2 Configuration Utility"
                            Icon="pavr2gui.exe" Advertise="yes"
                            WorkingDirectory="BinDir" />
                </File>
              </Component>
            </Directory>
            <Component Id="ModifyPath">
              <RegistryValue KeyPath="yes" Root="HKLM"
                           Key="Software\[Manufacturer]\[ProductName]"
                           Name="ModifyPath" Type="integer" Value="1" />
              <Environment Id="ModifyPath" Name="PATH" Value="[INSTALLDIR]bin"
                           Permanent="no" Part="last" Action="set" System="yes" />
              <Condition>MODIFYPATH=1</Condition>
            </Component>
            <Directory Id="DriversDir" Name="drivers" FileSource="$(var.SourceDir)/drivers/">
              <Component Id="Pgm04aInf">
                <File Id="Pgm04aInf" Name="pgm04a.inf" />
              </Component>
              <Component Id="SerialInf">
                <File Id="SerialInf" Name="pololu_usb_to_serial.inf" />
              </Component>
              <Component Id="PololuCat">
                <File Id="PololuCat" Name="pololu.cat" />
              </Component>
            </Directory>
            <Component Id="DocumentationUrl" Guid="bd17cc0f-032b-4ba5-a70e-c3c47d47059b">
              <util:InternetShortcut Id="DocumentationUrl" Type="url"
                                     Name="Pololu USB AVR Programmer v2 online documentation"
                                     Target="$(var.DocumentationUrl)" />
            </Component>
            <Component Id="LicenseHtml">
              <File Id="LicenseHtml" Source="$(var.SourceDir)/LICENSE.html" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="PololuMenuFolder" Name="Pololu">
          <Component Id="PololuMenuFolder">
            <RemoveFolder Id="PololuMenuFolderRemove" On="uninstall" />
            <RegistryValue KeyPath="yes" Root="HKCU"
                           Key="Software\[Manufacturer]\[ProductName]"
                           Name="PololuMenuFolder" Type="integer" Value="1" />
          </Component>
          <Component Id="DocumentationUrlInMenu">
            <util:InternetShortcut Id="DocumentationUrlInMenu" Type="url"
                                   Name="USB AVR Programmer v2 online documentation"
                                   Target="$(var.DocumentationUrl)" />
            <RegistryValue KeyPath="yes" Root="HKCU"
                           Key="Software\[Manufacturer]\[ProductName]"
                           Name="DocumentationUrlInMenu" Type="integer" Value="1" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Binary Id="libusbpDLL" SourceFile="$(var.BinStagingDir)\libusbp-1.dll" />

    <Feature Id="Software"
             Title="Pololu USB AVR Programmer v2 Software"
             AllowAdvertise="no"
             ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="CliExe" />
      <ComponentRef Id="GuiExe" />
      <ComponentGroupRef Id="DllFiles" />
      <ComponentRef Id="ModifyPath" />
      <ComponentRef Id="PololuMenuFolder" />
      <ComponentRef Id="DocumentationUrl" />
      <ComponentRef Id="DocumentationUrlInMenu" />
      <ComponentRef Id="LicenseHtml" />
    </Feature>
    <Feature Id="Drivers">
      <ComponentRef Id="Pgm04aInf" />
      <ComponentRef Id="SerialInf" />
      <ComponentRef Id="PololuCat" />
    </Feature>

    <CustomAction Id="InstallInf1" Impersonate="no" Execute="deferred" Return="check"
                  BinaryKey="libusbpDLL" DllEntry="libusbp_install_inf" />
    <CustomAction Id="InstallInf1.SetProperty"
                  Property="InstallInf1" Value="[INSTALLDIR]drivers\pgm04a.inf" />

    <CustomAction Id="InstallInf2" Impersonate="no" Execute="deferred" Return="check"
                  BinaryKey="libusbpDLL" DllEntry="libusbp_install_inf" />
    <CustomAction Id="InstallInf2.SetProperty"
                  Property="InstallInf2" Value="[INSTALLDIR]drivers\pololu_usb_to_serial.inf" />

    <InstallExecuteSequence>
      <Custom Action="InstallInf1.SetProperty" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="InstallInf1" After="InstallInf1.SetProperty">NOT Installed</Custom>
      <Custom Action="InstallInf2.SetProperty" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="InstallInf2" After="InstallInf2.SetProperty">NOT Installed</Custom>
    </InstallExecuteSequence>

    <WixVariable Id="WixUIBannerBmp"
                 Value="$(var.SourceDir)\images\setup_banner_wix.bmp" />
    <WixVariable Id="WixUIDialogBmp"
                 Value="$(var.SourceDir)\images\setup_welcome_wix.bmp" />

    <UIRef Id="ui" />

  </Product>
</Wix>
